@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(24, 126, 185, 0.648);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(3, 15, 22, 0.648);
    --foreground: #dedfc0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
