@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(111, 178, 216, 0.648);
  --foreground: #025d1d;
  --textColor: #fdb808;
  --accordeon: #03220c2d;
  --accent: #025d1d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(3, 15, 22, 0.648);
    --foreground: #727346;
    --textColor: #fdb808;
    --accordeon: #03220c;
    --accent: #025d1d;
  }
}

body {
  color: var(--textColor);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  overflow-y: scroll; /* Allow scrolling but hide the scrollbar */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input {
  outline: none;
  color: rgb(252, 246, 181);
}

input::placeholder {
  color: rgb(252, 246, 181);
  opacity: 1;
}

h4 {
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

.active {
  opacity: 1;
  max-height: 150px;
  transition:
    max-height 1s ease-in-out,
    opacity 1s ease-in-out;
}

.inactive {
  opacity: 0;
  max-height: 1px;
  transition:
    max-height 1s ease-in-out,
    opacity 1s ease-in-out;
}
